@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400&display=swap');

:root {
  --font-heading: 'DM Sans', sans-serif;
  --font-body: 'Space Mono', monospace;
}

@layer base {
  :root {
    --background: 36 39% 88%;
    --foreground: 36 45% 15%;
    --primary: 36 45% 70%;
    --primary-foreground: 36 45% 11%;
    --secondary: 40 35% 77%;
    --secondary-foreground: 36 45% 25%;
    --accent: 36 64% 57%;
    --accent-foreground: 36 72% 17%;
    --destructive: 0 84% 37%;
    --destructive-foreground: 0 0% 98%;
    --muted: 36 33% 75%;
    --muted-foreground: 36 45% 25%;
    --card: 36 46% 82%;
    --card-foreground: 36 45% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --border: 36 45% 60%;
    --input: 36 45% 60%;
    --ring: 36 45% 30%;
    --radius: 0rem;
  }

 
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-body);
  }
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400&display=swap');



h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.custom-icon {
  font-size: 1.1rem; /* Adjust the size as needed */
  width: 1.1rem; /* Optional, if needed to ensure width is consistent */
  height: 1.1rem; /* Optional, if needed to ensure height is consistent */
}

.custom-icon1 {
  font-size: 1.4rem; /* Adjust the size as needed */
  width: 1.4rem; /* Optional, if needed to ensure width is consistent */
  height: 1.4rem; /* Optional, if needed to ensure height is consistent */
}

.award-size {
  font-size: 1.8rem; /* Adjust the size as needed */
  width: 1.8rem; /* Optional, if needed to ensure width is consistent */
  height: 1.8rem; /* Optional, if needed to ensure height is consistent */
}

.intro_pic {
  font-size: 1.8rem; /* Adjust the size as needed */
  width: 22rem; /* Optional, if needed to ensure width is consistent */
  height: 33rem; /* Optional, if needed to ensure height is consistent */
}

.me {
  font-size: 1.8rem; /* Adjust the size as needed */
  width: 14rem; /* Optional, if needed to ensure width is consistent */
  height: 16rem; /* Optional, if needed to ensure height is consistent */
}


.softmesh {
  font-size: 1.8rem; /* Adjust the size as needed */
  width: 20rem; /* Optional, if needed to ensure width is consistent */
  height: 22rem; /* Optional, if needed to ensure height is consistent */
}


@keyframes borderAnimation {
  0% {
    border-color: hsl(var(--primary));
    box-shadow: 0 0 10px hsl(var(--primary));
  }
  25% {
    border-color: hsl(var(--secondary));
    box-shadow: 0 0 10px hsl(var(--secondary));
  }
  50% {
    border-color: hsl(var(--accent));
    box-shadow: 0 0 10px hsl(var(--accent));
  }
  75% {
    border-color: hsl(var(--foreground));
    box-shadow: 0 0 10px hsl(var(--foreground));
  }
  100% {
    border-color: hsl(var(--primary));
    box-shadow: 0 0 10px hsl(var(--primary));
  }
}

.animated-border {
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.animated-border:hover {
  border: 2px solid hsl(var(--primary));
  transform: scale(1.05);
}